.aboutus-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px; 
    max-width: 800px;  
    margin: 0 auto;  
    position: relative;  /* position the logo relative to the container */
}

.aboutus-title {
    font-size: 2rem;
    margin-bottom: 30px;  
    text-align: center;
    text-shadow: 1px 1px #2aeb0c;
    font-weight: bold; /* Bold font */
}

.aboutus-segment {
    margin-bottom: 20px; /*create space outside the element segment, space between texts*/
    border-bottom: 1px solid #2aeb0c;  
    padding-bottom: 20px;  /* create space inside the element segment, space beteen texts*/ 
}

.aboutus-conclusion {
    font-weight: bold;
    margin-top: 20px;
}

.aboutus-logo {
    font-family: 'Pacifico', cursive; 
    font-size: 38px;
    font-weight: bold;
    color: #4CAF50;
    text-align: center;
    margin-top: 40px;
    cursor: pointer; /*When hover on the logo change to hand*/
}
