.admin-container {
    display: flex;
    align-items: stretch;
    padding: 20px;
    overflow: hidden; /* To handle overflow of content */
}

.admin-column {
    flex: 1;
    margin: 0 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(39, 234, 9, 0.911);
    overflow-y: auto; /* Allows scrolling within each column */
}

.admin-column h2 {
    margin-bottom: 10px;
}

.admin-column ul {
    list-style-type: none;
    padding: 0; /* Space*/
}

.admin-column ul li {
    border-bottom: 1px solid  #4CAF50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0px; /* space between elements vertically */
    }

.admin-column ul li:last-child {
    border-bottom: none;
}

/* Style for the divider between users and routes*/
.admin-column-divider {
    background-color:  #4CAF50;;
    width: 2px;
    margin: 0 10px;
}


/* Style for the address of coloms */
.admin-column h2 {
    font-size: 40px;
    font-style: italic;
    color:rgb(255, 0, 149);
}

.admin-routes-delete-button {
    color:white;
    background-color:red;
    width:100px;
    margin-right:200px;
    padding: 1px 0px 0px; /*This will make the button smaller*/
    }

    .admin-users-delete-button{
        color:white;
        background-color:red;
        width:100px;
        margin-right: 200px;
        padding: 1px 0px 0px; /*This will make the delete user button smaller */
    }

    .admin-users-promote-button{
        color:black;
        background-color:yellow;
        width:100px;
        margin-right: 100px;
        padding: 1px 0px 0px;
    }

 