.delete-user-container {
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(19, 182, 38, 0.937);
    background-color: #d5d2d2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-user-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.delete-user-container p {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    padding-left: -100px;
    
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.delete-user-container .delete-button,
.delete-user-container .cancel-button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.delete-user-container .delete-button {
    background-color: #E53E3E;
}

.delete-user-container .cancel-button {
    background-color: #4CAF50;
}

.delete-user-container button:hover {

    background-color: #61dafb;
    color: #333;
    
}
