.fullMapContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.fullMap {
    width: 100%;
    height: 100%;
}

.findPath-logo {
    position: absolute;
    top: 10px;
    right: 10px; /* Adjusted to correct the position */
    z-index: 10;
    cursor: pointer;
    font-family: 'Pacifico', cursive;
    font-size: 38px;
    font-weight: bold;
    color: #f90b0b;
    text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000; /*Some 3D look */
}

.pathInputContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.pathInput {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}

.findPathButton {
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100%;
}

.findPathButton:hover {
    background-color: #6ed9fa;
}


.FindPathBackButton {
    color: white;
    width: 100px;
    padding: 10px 26px;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s;
    background-color: #4CAF50;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10; /* Button is above other elements */
}