.home-page {
    padding: 100px 20px;  /* top-bottom padding of 100px, left-right padding of 20px */
    text-align: center;   /* centering the text horizontally */
}

.home-page p {
    font-size: 1.2rem;    /* font size of 1.2 times the root font size */
    color: #4CAF50;
}

.bottom-bar {
    width: 70%;              /* set the width to 70% of the container */
    height: 2px;             /* make the bar thinner */
    background-color: #282c34;
    position: absolute;
    bottom: 99px;            /* move the line up and down from the bottom */
    left: 15%;               /* move it left and right */
}

.footer-section {
    position: absolute;
    bottom: 40px;            /* adjust this value to place footer section */
    left: 50%;               /* centering the footer section */
    transform: translateX(-50%); /* ensure it remains centered */
    font-size: 1rem;
    font-weight: bold;
}

.footer-section a {
    color: #4CAF50;
    text-decoration: none;
    margin: 0 5px;   /* Add space between links */
    cursor: pointer;
    transition: opacity 0.3s;
}

/*
 * value of the changed color when mouse curser on the clickable footer
 */
.footer-section a:hover {
    color: #61dafb; 
}

.map-link {
    color: #007BFF;  /* will be fixed later */
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s;
}

.explore-button {
    background-color: #45a049; /* Green color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    text-align: center;
    display: inline-block; /* Make it inline */
    transition: background-color 0.3s;
}

.explore-button:hover {
    background-color: #61dafb; /* Blue color on hover */
}


/*
 * styling typewriter effect 
 *
 */

.sentence-section {
    padding: 50px 0;  
    text-align: left;  /* aligns the text to the left */
    position: absolute;  /* allows positioning on the screen */
    top:50%;  /* centers it vertically */
    left: 1%;  /* moves it to the left side */
    transform: translateY(-50%);  /* keeps it vertically centered */
    width: 40%;  /* set a limit to the width */
}

.sentence-section p {
    font-size: 40px;
    color: #059b16;
}
