  .mapContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  
  .MyRoutes-logo {
    position: absolute;
    top: 10px;   /* distance from the top */
    right: 9px;  /* distance from the left */
    z-index: 10; /* logo appears on top of other elements */
    cursor: pointer; /* to indicate it's clickable */
    font-family: 'Pacifico', cursive; 
    font-size: 38px;
    font-weight: bold;
    color: #f90b0b;
    text-shadow: 
        1px 1px 0 #000,
        2px 2px 0 #000,
        3px 3px 0 #000,
        4px 4px 0 #000;
}

.MyRoutesBackButton {
  color: white;
  padding: 10px 26px; 
  display: inline-block;
  font-size: 20px; 
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.3s;
  background-color: #4CAF50;
  width: auto;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10; /* button is above other elements */
 
}