.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #282c34;
}

.logo-menu-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo {
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    font-weight: bold;
    color: #4CAF50;
    letter-spacing: 1px;
    text-transform: capitalize;
    cursor: pointer;
    text-decoration: none;
}

/*here you can adjust the menu bar in navigation bar*/
.hamburger-menu {
    cursor: pointer;
    font-size: 24px;
    color: white;
    margin-left: 10px;
    margin-bottom: 5px;
}


.nav-links {
    list-style-type: none;
    padding: 0;/*no gap/padding the space between up page to down will be default */
    display: flex;
    gap: 20px; /* The gap between login and register  */
    font-weight: bold;
}

.nav-links li a {
    /*color: white;*/
    text-decoration: none;/*no decoration or underline for TurRuter*/
    transition: color 0.2s;
    color: #4CAF50;
}
/*The color of the links login and register will be changed once move the mouse pointer on it*/
.nav-links li a:hover {
    color: #61dafb;
}
