/* NewRoute.css */

/* Base styles for buttons */
button {
    border: none;
    color: white;
    padding: 1px 9px; /* Reduced the horizontal padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    white-space: nowrap;
    margin-bottom: -15px;
}

/* Base color for buttons */
button {
    background-color: #4CAF50; /* Green */
}

/* Hover effect */
button:hover {
    background-color: #6ed9fa; /* Blue */
    color: black;
}

/* Button positioning */
.saveButton {
    position: 'absolute';
    top: '10px';
    left: '10px';
 
}

.cancelButton {
    position: 'absolute';
    top: '10px';
    left: '160px'; /* ensure space between the buttons */
   
}


.newrute-logo{

    font-family: 'Pacifico', cursive;
    font-size: 38px;
    font-weight: bold;
    color: #4CAF50;
    letter-spacing: 1px;
    text-transform: capitalize;
    cursor: pointer;
     margin-top: 10px;
     margin-left: -10px;  
     text-align: center;
}

.newrute-logo:hover{
    cursor: pointer;
}